html{
  color: #0e191a;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}
::-webkit-scrollbar {
  width: 0.65em;
}
 
::-webkit-scrollbar-track {
  background-color: #084b27;
}
 
::-webkit-scrollbar-thumb {
  background-color: #fff;
  outline: none;
}
a {
  text-decoration: none;
  color: orange;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
/* hero section*/
#hero .overlay{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 0%) ;
  opacity: 0.4;
  transition: all .4s ease-in-out;
}
.hero_section{
  width: 100%;
  height: 100vh;
  background-image: url(/contents/img/shourav-sheikh-a66sGfOnnqQ-unsplash.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}
#hero:hover .overlay{
  opacity: 0.6;
}
#hero:hover .hero_inner {
  background-color: #fcD7bA;
  color: #0e191a;
  letter-spacing: 1px;
}
.sub_heading,.heading {
  transition: all .4s linear;
}
.hero_inner{
  text-align: center;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  transition: all .2s ease-in-out;
}

#hero .heading {
  font-size: 3rem;
}
#hero .sub_heading{
  font-size: 1.8rem
}
/* Header */
.main_header {
  width: 100%;
  background-color: #084b27;
  display: inline-block;
  height: 70px;
  position: sticky;
  z-index: 2;
}
.logo {
  position: relative;
  padding: 20px;
  background-color: #0e191a;
  z-index: 9999;
  text-align: center;
}
.logo a {
  content: url(/contents/img/pizza-full.png);
  transform: scale(0.85);
}
.logo:hover a{
  content: url(/contents/img/pizza.png);
  transform: scale(1);
}
.logo_text {
  margin-top: 10px;
  display: block;
  text-transform: uppercase;
}
.nav_list {
  padding: 0;
}
.nav_list_items a,.logo a {
  text-transform: capitalize;
  color: white;
}
.nav_list .nav_list_items{
  display: inline-block;
  padding: 25px;
  height: 20px;
  transition: background-color .4s ease-in-out
}
.nav_list_items:hover,.nav_list_items.active:hover{
  background-color: rgba(202, 61, 42, 0.7);
}
.nav_list .nav_list_items.active {
  background-color: #ca3d2a
}
/* mobile menu*/
.nav_list_mobile{
  background-color: #333333;
}

span.line {
  height: 5px;
  width: 40px;
  margin: 5px 0;
  background-color: white;
  display: block;
  position: relative;
}
.nav_list_mobile .nav_list_items {
  text-align: center;
  list-style: none;
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
}
.menu-trigger {
  float: right;
  display: none;
}


#hamburger_menu {
  width: 48px;
  height: 18px;
  position: absolute;
  right: 20px;
  margin: 20px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#hamburger_menu span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #ffffff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#hamburger_menu span:nth-child(1) {
  top: 0px;
}

#hamburger_menu span:nth-child(2) {
  top: 18px;
}

#hamburger_menu span:nth-child(3) {
  top: 36px;
}

#hamburger_menu.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#hamburger_menu.open span:nth-child(2) {
  opacity: 0;

}

#hamburger_menu.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}





.nav_list_mobile{
  display:none;
  padding: 50px 0;
  font-size: 2rem;
}
.nav_list_mobile.visible {
  display: block;
  animation: fade-in;
  animation-duration: 0.9s;
}
@media (max-width: 1200px) {
  .main_header{height: 80px;}
  .nav_list_items a {
    padding: 10px 110px;
  }
  .nav_list .nav_list_items {display: none!important;}
  .logo{
    position: absolute;
  }
  .menu-trigger {
    display: inline-block;
    padding: 8px;
  }
}


/* Main */
.main_section{
  width: 90%;
  margin: 0 auto;
}



::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/* things about tables */

table#food_menu { 
  margin: 0 auto;
  border-collapse: collapse;
  font-family: 'Amatic SC', sans-serif;
  border-radius: 5px; 
}
table#food_menu caption { 
  font-size: 3rem;
  color: #222222;
  margin: 1rem;
  font-weight: 900;
}
table#food_menu thead th { 
  background: #333;
  color: #eee;
  padding: .8rem;
  font-size: 1.8rem;

}
table#food_menu tbody td { 
  padding: .8rem;
  font-size: 1.6rem;
  color: #333333;
  background: #eee; 
}
table#food_menu tbody tr:not(:last-child) { 
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;  
}
.menu_item_list,.menu_price{
  font-weight: 900;
}
.menu_ingredients{
  font-weight: 400;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


@media screen and (max-width: 600px) {
  table#food_menu caption { background-image: none; }
  table#food_menu thead { display: none; }
  table#food_menu tbody td { 
    display: block; padding: .6rem; 
  }
  table#food_menu tbody tr td:first-child { 
    background: #666; color: #fff; 
  }
	table#food_menu tbody td:before { 
    display: inline-block; 
  }
}



  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }


  /* Form style*/
  textarea {
    resize: vertical;
  }
  
  .contact_us .col{
    width: 90%;
    margin: 0 auto;
  }
  .contact_bg {
    width: 100%;
    height: 500px;
    background-image: url(/contents/img/masimo-grabar-NzHRSLhc6Cs-unsplash.jpg);
  }
  .contact_form{
    width: 70%;
    margin: 0 auto;
    vertical-align: middle;
  }
  input[type=text],input[type=email],textarea {
    border: none;
    border-bottom: 2px solid rgba(70, 70, 70 , 0.4);
  }
  input[type=text]:focus,input[type=email]:focus,textarea:focus {
    outline:none;
    border-bottom: 2px solid rgb(70, 70, 70);
  }
  .hidden {
    display: none;
  }
  
  .icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 32px;
    right: 0;
    z-index: 2;
  }
  .icon.icon-success {
    fill: green;
  }
  .icon.icon-error {
    fill: red;
  }
  .label {
    font-weight: bold;
    display: block;
    color: #333333;
    margin-bottom: 0.25rem;
  }
  
  .input {
    display: block;
    width: 100%;
    margin: 0 auto;
    color: #333333;
    line-height: 1.25;
    background-color: white;
    padding: 0.65rem 0.75rem;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  }
  .input::-moz-placeholder {
    color: #a0aec0;
  }
  .input:-ms-input-placeholder {
    color: #a0aec0;
  }
  .input::placeholder {
    color: #a0aec0;
  }
  .input.input-error, .input.input-error:focus {
    border-bottom: 2px solid red;
  }
  .input.input-success, .input.input-success:focus {
    border-bottom: 2px solid green;
  }
  
  .input-group {
    margin-bottom: 2rem;
    position: relative;
  }
  
  .error-message {
    font-size: 0.85rem;
    color: red;
  }
  
  .button {
    background-color: #084b27;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.25rem;
    color: white;
    font-weight: bold;
    display: block;
    margin: 20px 0;
    text-align: center;
    cursor: pointer;
  }
  .button:hover {
    filter: brightness(110%);
  }  



/*CSS Grid*/



/*CSS Flex*/


  /*animation*/
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }